# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.venv/
env/
venv/
*.env

# Streamlit cache
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PDF & Audio outputs
*.pdf
*.mp3
