streamlit==1.37.1
newspaper3k==0.2.8
requests==2.31.0
beautifulsoup4==4.12.3
lxml==4.9.3
transformers==4.44.2
torch==2.2.2
sentencepiece==0.1.99
gTTS==2.5.1
reportlab==4.2.2
playwright==1.47.0
numpy==1.26.0
